html{
    background-image: url(https://wallpaperaccess.com/full/4474894.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

button{
    padding: 25px;
    position: fixed;
    position: relative;
    left: 40%;
    top: 275px;
    opacity: 0.5;
    border: 3px solid black;
    border-radius: 25px;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}